<!DOCTYPE html>
<html>
<head>
  <title>Warning</title>
</head>
<body>
<table>
  <tr>
     <td align="center">
         <font size="5" color="red">Token Regeneration has been stopped  </font>  
     </td>
  </tr>

  <tr>
    <td align="left" cellpadding="20" height="50">
      
          Dear Customer,
    </td>

  </tr>
      <tr>
        
        <td bgcolor="#e5e5e5" cellpadding="20" height="100">
          Token generation failed due to <b><font size="5"><font color="red">$EmailType</font></font></b>
          Please check the details.
        </td>
      </tr>

      <tr>
     <td align="center" cellpadding="20" height="50">Bay 9, Trace Avenue City,Wso2.Telco

     </td>
      </tr>
      

</table>

</body>
</html>
